<section class="hero hero-img clearfix overlay">
	<!--style="background-image: url(../img/bg_hero_img.jpg);"-->
	<div class="container-fluid">
		<div class="row">
			<div class="hero-avatar col-md-3">
				<img class="author" src="img/avatar_img.jpg" alt="Irina Olexadrovna Zhukovskaya">
			</div>

			<div class="hero-title col-md-9">
				<h1>Навчально-методичний блог <br> Жуковської Ірини Олександрівни</h1>
				<p>викладача-методиста Комерційного технікуму <br> Дінпровського
					державного технічного університету</p>
			</div>
		</div>
	</div>
</section>