<div class="latest-box">
		<div class="lb-header">Останні статі:</div>
		<div class="lb-list">

			<div class="lb-item">
				<a href="blog/publikatsii/" class="lb-catname">Публікації</a>

				<div class="lb-body">

					{% for post in site.categories.publikatsii limit: 1 offset: 0 %}
					<a href="{{ post.url }}" class="lb-item-header">{{ post.title }}</a>
					<div class="lb-footer">
						<div class="item-comments" title="Кілікість коментарів">
							<i class="fa fa-comments"></i><a href="{{post.url}}#discus_thread" class="item-comments-count"></a>
							<span class="date">{{ post.date | date: '%d' }}/{{ post.date | date: '%m' }}/{{ post.date | date: '%Y' }}</span>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>

		<div class="lb-list">
			<div class="lb-item">
				<a href="blog/metodychni-posibnyky/" class="lb-catname">Методички</a>
				<div class="lb-body">

						{% for post in site.categories.metodychni-posibnyky limit: 1 offset: 0 %}
						<a href="{{ post.url }}" class="lb-item-header">{{ post.title }}</a>
						<div class="lb-footer">
							<div class="item-comments" title="Кілікість коментарів">
								<i class="fa fa-comments"></i><a href="{{post.url}}#discus_thread" class="item-comments-count"></a>
								<span class="date">{{ post.date | date: '%d' }}/{{ post.date | date: '%m' }}/{{ post.date | date: '%Y' }}</span>
							</div>
						</div>
						{% endfor %}

				</div>
			</div>
		</div>

		<div class="lb-list">
			<div class="lb-item">
				<a href="blog/elektronni-pidruchnyky/" class="lb-catname">Електронні підручники</a>
				<div class="lb-body">

						{% for post in site.categories.elektronni-pidruchnyky limit: 1 offset: 0 %}
						<a href="{{ post.url }}" class="lb-item-header">{{ post.title }}</a>
						<div class="lb-footer">
							<div class="item-comments" title="Кілікість коментарів">
								<i class="fa fa-comments"></i><a href="{{post.url}}#discus_thread" class="item-comments-count"></a>
								<span class="date">{{ post.date | date: '%d' }}/{{ post.date | date: '%m' }}/{{ post.date | date: '%Y' }}</span>
							</div>
						</div>
						{% endfor %}
					
				</div>
			</div>
		</div>

		<div class="lb-list">
			<div class="lb-item">
				<a href="blog/retsepty" class="lb-catname">Рецепти</a>
				<div class="lb-body">

						{% for post in site.categories.retsepty limit: 1 offset: 0 %}
						<a href="{{ post.url }}" class="lb-item-header">{{ post.title }}</a>
						<div class="lb-footer">
							<div class="item-comments" title="Кілікість коментарів">
								<i class="fa fa-comments"></i><a href="{{post.url}}#discus_thread" class="item-comments-count"></a>
								<span class="date">{{ post.date | date: '%d' }}/{{ post.date | date: '%m' }}/{{ post.date | date: '%Y' }}</span>
							</div>
						</div>
						{% endfor %}

				</div>
			</div>
		</div>

		<div class="lb-list">
			<div class="lb-item">
				<a href="blog/prezentatsii/" class="lb-catname">Презентації</a>
				<div class="lb-body">

						{% for post in site.categories.prezentatsii limit: 1 offset: 0 %}
						<a href="{{ post.url }}" class="lb-item-header">{{ post.title }}</a>
						<div class="lb-footer">
							<div class="item-comments" title="Кілікість коментарів">
								<i class="fa fa-comments"></i><a href="{{post.url}}#discus_thread" class="item-comments-count"></a>
								<span class="date">{{ post.date | date: '%d' }}/{{ post.date | date: '%m' }}/{{ post.date | date: '%Y' }}</span>
							</div>
						</div>
						{% endfor %}

				</div>
			</div>
		</div>

	</div>